VIRUSTOTAL_API_KEY=
URLSCAN_API_KEY=
HOST=127.0.0.1
PORT=8080
ALLOWED_ORIGIN=*
CACHE_TTL_SECONDS=3600
PROVIDER_TIMEOUT_MS=15000
SCAN_TIMEOUT_MS=60000
EVIDENCE_TIMEOUT_MS=90000
POLL_INTERVAL_MS=2500
MALICIOUS_ENGINE_THRESHOLD=10
VT_REPORT_MAX_AGE_SECONDS=86400
URLSCAN_REPORT_MAX_AGE_SECONDS=86400
JOB_TTL_SECONDS=86400
SCAN_REQUESTS_PER_MINUTE=20
URLSCAN_VISIBILITY=unlisted
MOCK_MODE=false
