VIRUSTOTAL_API_KEY=
URLSCAN_API_KEY=
HOST=127.0.0.1
PORT=8080
ALLOWED_ORIGIN=*
CACHE_TTL_SECONDS=3600
PROVIDER_TIMEOUT_MS=15000
SCAN_TIMEOUT_MS=60000
POLL_INTERVAL_MS=2500
MALICIOUS_ENGINE_THRESHOLD=3
URLSCAN_VISIBILITY=unlisted
MOCK_MODE=true
